# Python bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments (catch nested or top-level)
.venv/
venv/
ENV/
env/
**/env/
**/venv/

# PyCharm
.idea/

# macOS system files
.DS_Store

# Unessesary
app_imgs
get_req.py

# Files used for GitHub
push.py

# Fake Disks
disk.ndi

# Logs and temp files
*.log
*.tmp
*.swp
*.swo

# Test artifacts
tests/
coverage.*
htmlcov/
.tox/
nosetests.xml
pytest_cache/
.cache/
*.cover
*.egg
*.egg-info/
dist/
build/
temp.py

# VSCode settings
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
